<!DOCTYPE html>
<html>
<head>
  <title>Blazer api</title>
  <%= stylesheet_link_tag    "blazer/api/application", media: "all" %>
  <%= javascript_include_tag "blazer/api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
